.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 71.2vw;
}

.bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  opacity: 1;
  width: 45.6vw;
  height: 45.6vw;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 45.6vw;
  height: 45.6vw;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 45.6vw;
  height: 45.6vw;
}

.wrap {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 2.4vw;
  left: 2.4vw;
  align-items: center;
  flex-direction: row;
  border-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: 1.2vw;
  padding-left: 1.33vw;
  height: 4vw;
}

.riverdinwei {
  opacity: 1;
  width: 1.87vw;
  height: 2.4vw;
}

.distance {
  margin-left: 0.53vw;
  width: 11.2vw;
  height: 2.93vw;
  line-height: 2.93vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.4vw;
  font-weight: 400;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  width: 45.6vw;
  height: 15.2vw;
}

.title {
  margin-top: 2.93vw;
  width: 40vw;
  height: 11.73vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.87vw;
  color: #333333;
  font-size: 4vw;
  font-weight: 400;
}

.ft {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: 1.6vw;
  border-bottom-right-radius: 1.6vw;
  background-color: #ffffff;
  padding-right: 2.27vw;
  padding-left: 2.4vw;
  width: 45.6vw;
  height: 10.4vw;
  overflow: hidden;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4vw;
}

.xianjin {
  width: 4vw;
  height: 4vw;
}

.fashionHome {
  margin-left: 0.8vw;
  line-height: 3.73vw;
  white-space: nowrap;
  color: #666666;
  font-size: 3.2vw;
  font-weight: 300;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 4vw;
}

.favorite {
  width: 2.93vw;
  height: 2.93vw;
}

.num {
  margin-left: 0.67vw;
  line-height: 3.47vw;
  white-space: nowrap;
  color: #999999;
  font-size: 2.93vw;
  font-weight: 400;
}
